<div class="box">
  <div class="card">
    <div class="card-body">
      <div style="background: rgb(197, 253, 67)" class="card-header">
        <div class="text-center">
          <mat-icon class="icon-how-to-reg">how_to_reg</mat-icon>
          <h2>Sign up</h2>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="signUp($event)">
        <div class="form-group">
          <mat-icon class="icon">email</mat-icon>
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.dirty }"
          />
          <!-- important las 2 condiciones juntas ya que en la db busca por LIKE'%#%',apenas se escribe busca si contiene la letra/s del email en la db -->
          <div *ngIf="emailExist && f.email.valid">
            <small class="text-danger"
              >Ya existe otro usuario con el mismo email</small
            >
          </div>
          <div *ngIf="f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">el email es obligatorio</div>
            <div *ngIf="f.email.errors.email">
              El formato de email no es valido
            </div>
          </div>
        </div>
        <div class="form-group">
          <!-- <i class="fa fa-user fa-lg text-muted icon" aria-hidden="true"></i> -->
          <mat-icon class="icon">face</mat-icon>
          <label for="username">Nombre de usuario</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.username.errors && f.username.dirty }"
            (blur)="deleteWhiteSpace(f.username.value)"
          />
          <div *ngIf="usernameExist">
            <small class="text-danger"
              >Ya existe otro usuario con el mismo nombre</small
            >
          </div>
          <div *ngIf="f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">
              <small>este campo es obligatorio!</small>
            </div>
            <div *ngIf="f.username.errors.minlength">
              <small>debe tener un mínimo de 5 caracteres</small>
            </div>
            <div *ngIf="f.username.errors.maxlength">
              <small>solo hasta 15 caracteres permitidos</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <mat-icon class="icon">vpn_key</mat-icon>
          <label for="pass1">Password</label>
          <input
            type="password"
            id="pass1"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.password.errors && f.password.dirty }"
          />
          <div *ngIf="f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              <small>este campo es obligatorio!</small>
            </div>
            <div *ngIf="f.password.errors.minlength">
              <small>el password debe tener un minimo de 6 caracteres</small>
            </div>
            <div *ngIf="f.password.errors.maxlength">
              <small>El password es muy largo!</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-icon class="icon">vpn_key</mat-icon>
          <label for="pass2">Confirm Password</label>
          <input
            type="password"
            id="pass2"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.confirmPassword.errors && f.confirmPassword.dirty
            }"
          />
          <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">
              <small>este campo es obligatorio!</small>
            </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">
              <small>las contraseñas deben ser iguales!</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            mat-raised-button
            color="color-dark"
            class="btn-block"
            [disabled]="form.invalid || usernameExist || emailExist"
          >
            Registrarse
          </button>
        </div>
      </form>
      <div class="text-center" *ngIf="message != null">
        <p class="text-danger">{{ message }}</p>
      </div>
    </div>
  </div>

  <div class="col1">
    <span>col1</span>
  </div>
  <div class="col2">
    <span>col2</span>
  </div>
</div>
